
        .m{
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
            text-align: center;
            width: 301px;
        }
        .main{
            width: 300px;
            height: 280px;
            background-color:cornflowerblue;
            border-radius: 10px;
            text-align: center;
        }
        .forms{
            margin-left: auto;
            margin-right: auto;
            width: 270px;
            height: 250px;
            text-align: center;
        }

        .form{
            margin-top: 10%;
            height: 30px;
            border-radius: 10px;
            font-size: 15px;
            text-align: center;
        }
        .bt{
            width: 100px;
            font-size: 20px;
            border-radius: 15px;
            background-color: aquamarine;
        }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

        .m{
            margin-left: auto;
            margin-right: auto;
            margin-top: 40%;
            text-align: center;
            width: 571px;
        }
        .main{
            width: 570px;
            height: 570px;
            background-color:cornflowerblue;
            border-radius: 30px;
            text-align: center;
        }
        .forms{
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            width: 310px;
            height: 350px;
            text-align: center;
        }

        .form{
            margin-top: 10%;
            height: 30px;
            border-radius: 20px;
            font-size: 35px;
            text-align: center;
            width: 300px;
            height: 80px;
        }
        .bt{
            width: 160px;
            height: 60px;
            font-size: 40px;
            border-radius: 15px;
            background-color: aquamarine;
        }
        .ss{
            font-size: 30px;
        }
        .error{
            font-size: 27px;
        }
        .shap{
            font-size: 30px;
        }

}