<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcom</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='login_style.css')}}">

</head>

<body>

<div class="m">
	<div class="shap"><h1>Log in</h1></div>

	<div class="main">
		<br>
		<br>
		<form class="forms" method="post" action="">
			<input id="email" type="text" class="form" placeholder="Name" name="username">
			<input id="name" type="password" class="form" placeholder="Password" name="password">
			<br><br>

			<input class="bt" type="submit" value="Start">
			<a class="ss" href="/">Back</a>
		</form>
	</div>
	<div class="error"><p>{{ message }}</p></div>
</div>
</body>
</html>
