<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
     <link rel="stylesheet" href="{{ url_for( 'static', filename='main_style.css')}}">
</head>
<body style = "background-color: #3675D3">
    <center>
        <div class="content" >
                <div class="lvl" border = "4" style = "background-color:white; border-color:#0C4AA6"><div class="c" ></div><div class="num_lvl">{{ lvl }}</div></div><br>
            <div class="ex" border = "4" style = "background-color:white; border-color:#0C4AA6">{{exp}}</div>
        <br>
            <div class="a">
                <form class="f" method="post" action="/add_ans1">
                    <button class="b" border="4" type="submit" style = "background-color: #1865D8; border-color: white">{{ ctr1 }}</button>
                </form>
            <br>
                <form class="f" method="post" action="/add_ans2">
                    <button class="b"  border="4"type="submit" style = "background-color: #1865D8; border-color: white">{{ ctr2 }}</button>
                </form>
            <br>
                <form class="f" method="post" action="/add_ans3">
                    <button class="b" border="10" type="submit" style = "background-color: #1865D8; border-color: white">{{ ctr3 }}</button>
                </form>
            <br>
                <form class="f" method="post" action="/add_ans4">
                    <button class="b" border="4" type="submit" style = "background-color: #1865D8; border-color: white">{{ ctr4 }}</button>
                </form>
            </div>
        </div>
    </center>
    <center>
        <div class="lider">
            <table class="lid_table" border="4" style="color:white;background-color:#1865D8; border-color:white">
                    <tr class="table_shap" style = "background-color: white; color:#1865D8">
                        <td>Name</td>
                        <td>LVL</td>
                    </tr>
                {% for lider in lider_list %}
                    <tr>
                        <td>{{ lider.name }}</td>
                        <td>{{ lider.lvl }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </center>

</body>
</html>